@using TheNextLevel.Application.DTOs

<select value="@SelectedId" @onchange="OnChanged" class="form-select mt-2">
    <option value="" disabled>Select @Label</option>
    @if (IsLoading)
    {
        <option disabled>Loading @(Label)s</option>
    }
    else if (Items.Count == 0)
    {
        <option disabled>No @Label found</option>
    }
    else
    {
        @foreach (var item in Items)
        {
            <option value="@item.Id.ToString()">@item.Name</option>
        }
    }
</select>

@code {
    [Parameter] public List<IItemDto> Items { get; set; } = [];
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string SelectedId { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> SelectedIdChanged { get; set; }

    private async Task OnChanged(ChangeEventArgs e) =>
        await SelectedIdChanged.InvokeAsync(e.Value?.ToString() ?? string.Empty);
}
